@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
html,body{
  height: 100%;
}
body{
  background-color: #E7DDE5;
  background-repeat: no-repeat;
  background-position: center;
 
  
 

}
.img1{
  background-image: url(./images/pngegg\ \(5\)\ 1\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;
overflow: hidden;
width: 100%;
position: relative;
}

header{
  /* height: 100px; */
  /* background-color: #fde9f7; */
  display: flex;
  justify-content: end;
  /* align-items: center; */
}


ul{
  display: flex;
  color:aliceblue;
  list-style: none;
  gap: 20px;
  justify-content: end;
margin-right: 20px;
padding-left: 0;
font-family: 'Roboto';
}


ul a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}


button{
  width: 28px;
  height: 26px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: none;
  margin: 14px 20px 0 0;
  z-index: 2;
}


button span{
  display: block;
  width: 100px;
  height: 4px;
  background-color: #d82e2e; 
  position: absolute;
  left: 0;
  top: 10px;
}


button span:nth-child(1){
transform: translateY(-12px);


}
button span:nth-child(3){
  transform: translateY(12px);
  }


main{
  /* background-color: #ffd3f2; */
  height: 50px;
}




footer{
  height: 100px;
  /* background-color: #fac5e6; */
}


@media (max-width: 500px) {
  button{
    display: block;
  }
  ul{
    flex-direction: column;
    background-color: #fff;
    color: black;
    padding: 40px 40px 10px 10px;
    position: absolute;
    top: -10px;
    right: -150px;

  }
 
  header.open ul{
    transform: translateX(-120%);
  }
}
header.open span{
  background-color: rgb(114, 71, 103); 
}
header.open span:nth-child(1){
 transform: translateY(0) rotate(-45deg);
}
header.open span:nth-child(2){
  opacity: 0;
 }
 header.open span:nth-child(3){
  transform: translateY(0) rotate(-45deg);
 }
 .center{
  margin-top: 350px;
 }
 h1{
  text-align: center;
 }

 .card_item{
  width: 173px;
  height: 108px;
  background-color:#FEEBF4;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
 } 
 .cards p{
  font-family: 'Roboto';
  font-size: 20px;
 }
 .cards{
  display: flex;
  justify-content: center;
  gap: 79px;
  flex-direction: column;
 }